include LICENSE
include README.md
include HISTORY.rst

recursive-include tests *.py
recursive-include esgf_qa/resources *.html *.woff2

global-exclude __pycache__ *.py[co]

# Exclude GitHub workflows and metadata
prune .github

# Exclude CI environment
prune ci

# Exclude documentation
prune docs

# Exclude project config files
exclude mkdocs.yml
exclude .pre-commit-config.yaml
exclude .gitignore
