site_name: esgf-qa Documentation
repo_url: https://github.com/ESGF/esgf-qa
theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - content.code.annotate
    - content.tabs.link
    - content.code.copy
nav:
  - Home: index.md
  - API Reference:
      - QA Workflow: reference/esgf_qa_run_qa.md
      - QA Results Viewer: reference/esgf_qa_qaviewer.md
      - QA Results Aggregator: reference/esgf_qa_cluster_results.md
      - esgf-qa Checks: reference/esgf_qa_con_checks.md

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: true
            show_signature: true
            extra:
              rendering_style: markdown
